:root {
    --ff-regular: 'Red Hat Display', sans-serif;
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-extra: 900;
    --fs-regular: 1rem;

    --clr-primary-100: hsl(225, 100%, 94%);
    --clr-primary-400: hsl(245, 75%, 52%);

    --clr-neutral-100: hsl(225, 100%, 98%);
    --clr-neutral-200: hsl(224, 23%, 55%);
    --clr-neutral-400: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}